.sessaoMensalidades {
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/backgroundPrecos.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.titleMensalidade {
    padding: 105px;
    padding-left: 170px;
    padding-bottom: 5px;
    font-size: 40px;
    color: black;
}

.titleMensalidade h1 {
    text-shadow: 
    0px 0px 5px #FFFFFF, 
    0px 0px 5px #FFFFFF, 
    0px 0px 15px #FFFFFF,  
    0px 0px 20px #FFFFFF;  
    
}

.mensalidade {
    width: 1060px;
    height: 630px;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.precos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.precoMensalContainer {
    width: 235px;
    height: 490px;
    border: 5px solid white;
    border-radius: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.precoMensal strong {
    font-size: 64px;
    color: #F1C445;
}

.precoMensal p {
    text-align: center;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px;
}

.graficoMensal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.precoSemestralContainer {
    width: 235px;
    height: 490px;
    border: 5px solid white;
    border-radius: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.precoSemestral strong {
    font-size: 64px;
    color: #F1C445;
}

.precoSemestral p {
    text-align: center;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px;
}

.graficoSemestral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.precoAnualContainer {
    width: 235px;
    height: 490px;
    border: 5px solid white;
    border-radius: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.precoAnual strong {
    font-size: 64px;
    color: #F1C445;
}

.precoAnual p {
    text-align: center;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px;
}

.graficoAnual {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

@media (max-width: 1024px) {
    .sessaoMensalidades {
        height: auto;
    }

    .titleMensalidade {
        padding: 50px 20px 5px 20px;
        font-size: 32px;
        text-align: center;
    }

    .mensalidade {
        width: 80%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .precos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .precoMensalContainer,
    .precoSemestralContainer,
    .precoAnualContainer {
        width: 250;
        height: 450px;
        margin: 20px 0;
        border-radius: 100px;
    }

    .precoMensalContainer strong,
    .precoSemestralContainer strong,
    .precoAnualContainer strong {
        font-size: 48px;
    }

    .graficoMensal,
    .graficoSemestral,
    .graficoAnual {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .titleMensalidade {
        font-size: 25px;
        padding: 30px 10px 5px 10px;
    }

    .precoMensalContainer,
    .precoSemestralContainer,
    .precoAnualContainer {
        width: 250px;
        height: 450px;
        margin: 10px 0;
        border-radius: 100px;
    }

    .precoMensalContainer strong,
    .precoSemestralContainer strong,
    .precoAnualContainer strong {
        font-size: 60px;
    }
}
