@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

nav {
  font-family: 'Mina', sans-serif;
  text-shadow: 0 0 20px #A95FD2;
  font-size: 20px;
  margin-inline: 150px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo img {
  width: 250px !important;
  height: 70px !important;
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}