@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000 !important; 
}

nav {
  font-family: 'Mina', sans-serif;
  /* text-shadow: 0 0 20px #A95FD2; */
  font-size: 16px;
  font-weight: bold;
}

.iconsociais
{
  gap: 13px;
}

.frase {
  position: relative;
}


.frase img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.textofrase {
  position: absolute; 
  margin-top: 30%;
  max-width: 500px;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
  top: 50%;
  left: 50%;
}

.loja
{
  position: relative;
}

.loja img {
  position: absolute;
  width: 1040px !important;
  height: 650px !important;
  z-index: 1;
  margin-top: 60%;
}

.quadroloja {
  position: absolute;
  z-index: -1;
  left: 20%;
  margin-top: 75%;
}


.carrinholoja img{
  width: 177px !important;
  height: 316px !important;
  left: 83%;
  margin-top: 80%;
}

.textoloja{
  position: absolute;
  left: 30%;
  margin-top: 115%;
}

.imagemsecundaria img{
  width: 290px !important;
  width: 160px !important;
}

.imagemprincipal img{
  width: 860px !important;
  width: 600px !important;
}

.imagensloja {
  position: absolute;
  margin-top: 150%;
}

.videoinicio {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoinicio img {
  width: 100%;
  height: auto;
}

.image-container
{
  position: relative;
}

.logocaveira 
{
  position: absolute;
  top: -250px;
  right: 0px;
  width: 500px;
  height: 500px;
}


.imagem-bikes img
{
  width: 580px;
  height: 500px;
}

.logo img {
  width: 300px;
  height: 100px;
}

.title 
{
  font-size: 32px;
  font-weight: bold;
}

p 
{
  font-size: 16px;
}

.botao 
{
  width: 217px;
  height: 51px;
  background-color: #F1C445;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.slicknav_menu {
  display:none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}