@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000 !important; 
}

nav {
  font-family: 'Mina', sans-serif;
  /* text-shadow: 0 0 20px #A95FD2; */
  font-size: 16px;
  font-weight: bold;
}


.frase {
  position: relative;
}

.frase img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.textofrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}


.videoinicio {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoinicio img {
  width: 100%;
  height: auto;
}

.image-container
{
  position: relative;
}

.logocaveira 
{
  position: absolute;
  top: -250px;
  right: 0px;
  width: 500px;
  height: 500px;
}


.imagem-bikes img
{
  width: 580px;
  height: 500px;
}

.logo img {
  width: 300px;
  height: 100px;
}

.title 
{
  font-size: 32px;
  font-weight: bold;
}

p 
{
  font-size: 16px;
}

.botao 
{
  width: 217px;
  height: 51px;
  background-color: #F1C445;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.slicknav_menu {
  display:none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}