.academias {
    margin-top: 20%;
    width: 100%;
    height: 650px;
    border: 3px solid white;
    border-radius: 50px;
    padding: 30px;
}

.academiasHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.academiasHeader button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-inline: 35px;
}

.academiasHeader strong {
    color: #F1C445;
    font-size: 48px;
}

.academiasHeader p {
    text-align: center;
}

.buttonsAcademias {
    border-radius: 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

.buttonAcademiasPrimary {
    background-color: rgba(255, 255, 255, 0.2);
}


.buttonAcademiasSecundary {
    background-color: rgba(255, 255, 255, 0.6); 
    width: 155px;
    height: 34px;
}

.academiasMainContent {
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.academiasMain {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 50%;
}

.academiasMain h3 {
    width: 100%;
    font-size: 32px;
    padding-bottom: 32px;
    padding-right: 100px;
    text-align: center;
    display: flex;
    justify-content: end;
} 

.academiasMain p {
    max-width: 440px;
}

.academiasMainButton {
    width: 78%;
}

.academiasMain button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    width: 150px;
    height: 35px;
    font-weight: bold;
    background-color: #F1C445;
    color: white;
    border-radius: 20px;
}

.academiasImagem {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
}

.academiasFooter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.academiasDivisao {
    margin: 50px auto;
    width: 445px;
    height: 90px;
    border-radius: 40px;
    border: 3px solid white;
    margin-bottom: 200px;
}