<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpeedFormAcademias</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.css"/>
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/SpeedFormAcademias.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body class="bg-dark">
   <header class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper d-flex align-items-center justify-content-center">
          <div class="logo">
            <a href="/"><img src="~/img/logo.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="main-menu f-right d-none d-lg-block">
            <nav>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-between p-5 text-uppercase mb-md-0">
              <li><a href="#" class="nav-link px-2 text-white">Sobre nós</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Academias</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Atividades</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Horários</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Contato</a></li>
              </ul>
            </nav>
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  <div id="Whatsapp">
    <link rel="stylesheet" href="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-button.css">
    <a id="robbu-whatsapp-button" target="_blank" href="https://linkme.bio/speedformacademia">
    <div class="rwb-tooltip bg-white">Fale Conosco</div>
    <img src="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-icon.svg">
    </a>
  </div>

    <footer class="border-top footer text-muted">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
