@model SpeedFormAcademias.ViewModels.DetailsUnidadeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sessaoDetalhesAcademias">
    <div class="detalhesAcademias hidden">
        <div class="titleDetalhesAcademias">
            <h1>@Model.Nome</h1>
            <div class="detalhesAcademiasFotos">
                <!-- Imagem Principal com dimensões específicas -->
                <img src="@Model.Fotos.FirstOrDefault()?.ArquivoFoto" alt="Foto Principal da Unidade">

                <!-- Exibe as demais imagens (exceto a primeira) -->
                @foreach (var foto in Model.Fotos.Skip(1))
                {
                    <img src="@foto.ArquivoFoto" alt="Foto da Unidade">
                }

                <!-- Mapa com dimensões específicas -->
                <iframe src="@Model.LocalizacaoFoto" width="750" height="225" style="border-radius:15px;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="conteudoDetalhesAcademias hidden">
                    <p style="font-size: 24px;">Conheça as unidades <strong>MAIS PRÓXIMAS DE VOCÊ</strong> e faça parte da
                        <strong>NOSSA HISTÓRIA!</strong>
                    </p>
                    <br>
                    <p style="font-size: 20px;">As unidades SPEEDFORM conta com áreas e equipamentos para musculação, muay thai, aeroboxe, e etc.
                        Além de um espaço kids feito para todas as idades aproveitarem o mesmo ambiente. Com o GymPass
                        voce ganha acesso as duas unidades</p>
                </div>

        <div class="avaliacaoDetalhesAcademias hidden">
            <div class="notaAcademia">
                <h4 style="font-size: 35px;">NOTA DA ACADEMIA</h4>
                <h3>5,0</h3>
                <img src="~/img/estrelasAcademias.png">
            </div>

            <h2>AVALIE NOSSA ACADEMIA</h2>
            <p>DE SEU FEEDBACK</p>
            <div class="avaliacao-container">
                <div class="avaliacao-post">
                    <div class="avaliacao-text">Obrigado por nos avaliar!</div>
                    <div class="avaliacao-edit">EDITAR</div>
                </div>
                <div class="avaliacao-star-widget">
                    <input type="radio" name="rate" id="rate-5">
                    <label for="rate-5"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1"></label>
                    <form class="avaliacao-form" action="#">
                        <div class="avaliacao-header"></div>
                        <div class="avaliacao-textarea">
                            <textarea cols="30" placeholder="Descreva sua experiência"></textarea>
                        </div>
                        <div class="avaliacao-btn">
                            <button type="submit">ENVIAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    const btn = document.querySelector(".avaliacao-btn");
    const post = document.querySelector(".avaliacao-post");
    const widget = document.querySelector(".avaliacao-star-widget");
    const editBtn = document.querySelector(".avaliacao-edit");
    btn.onclick = () => {
        widget.style.display = "none";
        post.style.display = "block";
        editBtn.onclick = () => {
            widget.style.display = "block";
            post.style.display = "none";
        }
        return false;
    }
</script>

<style>
    .conteudoDetalhesAcademias {
        text-align: center;
    }

    .avaliacaoDetalhesAcademias {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .notaAcademia {
        margin-block: 50px;
    }

    .avaliacaoDetalhesAcademias h3 {
        font-size: 100px;
    }

    .avaliacao-container {
        position: relative;
        width: 400px;
        padding: 20px 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .avaliacao-container .avaliacao-post {
        display: none;
    }

    .avaliacao-container .avaliacao-text {
        font-size: 25px;
        color: #666;
        font-weight: 500;
    }

    .avaliacao-container .avaliacao-edit {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 16px;
        color: #666;
        font-weight: 500;
        cursor: pointer;
    }

    .avaliacao-container .avaliacao-edit:hover {
        text-decoration: underline;
    }

    .avaliacao-container .avaliacao-star-widget input {
        display: none;
    }

    .avaliacao-star-widget label {
        font-size: 0;
        width: 40px;
        height: 40px;
        background-image: url('../../img/estrela.png');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        display: inline-block;
        transition: background-image 0.2s ease-in-out;
    }

    .avaliacao-star-widget {
        direction: rtl;
    }

    .avaliacao-star-widget textarea {
        text-align: center;
        direction: ltr;
    }

    .avaliacao-container input:not(:checked)~label:hover,
    input:not(:checked)~label:hover~label {
        background-image: url('../../img/estrelapreenchida.png');
    }

    .avaliacao-container input:checked~label {
        background-image: url('../../img/estrelapreenchida.png');
    }

    .avaliacao-container input#rate-5:checked~label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
    }

    .avaliacao-container .avaliacao-form {
        display: none;
    }

    .avaliacao-container input:checked~form {
        display: block;
    }

    .avaliacao-form .avaliacao-header {
        width: 100%;
        font-size: 25px;
        color: #fe7;
        font-weight: 500;
        margin: 5px 0 20px 0;
        text-align: center;
        transition: all 0.2s ease;
    }

    .avaliacao-form .avaliacao-textarea {
        height: 100px;
        width: 100%;
        overflow: hidden;
    }

    .avaliacao-form .avaliacao-textarea textarea {
        height: 100%;
        width: 100%;
        outline: none;
        color: #eee;
        border: 1px solid #333;
        background: #222;
        padding: 10px;
        font-size: 17px;
        resize: none;
    }

    .avaliacao-textarea textarea:focus {
        border-color: #444;
    }

    .avaliacao-form .avaliacao-btn {
        height: 45px;
        width: 100%;
        margin: 15px 0;
    }

    .avaliacao-form .avaliacao-btn button {
        height: 100%;
        width: 100%;
        border: 1px solid #444;
        outline: none;
        background: #222;
        color: #999;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .avaliacao-form .avaliacao-btn button:hover {
        background: #1b1b1b;
    }
</style>