@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sobreNos">
    <img src="~/img/sobrenosQuadro.png" class="hidden">
    <div class="sobreNosTexto hidden">
        <h3>Sobre Nós</h3>
        <p>Bem-vindo à Speed Form Academia, o melhor centro de
            treinamento da região! Aqui, nossa filosofia é simples:
            <strong>TREINAR DE VERDADE PARA ALCANÇAR RESULTADOS REAIS.</strong> Com uma trajetória de
            excelência
            em
            oferecer serviços de qualidade, nos consolidamos como uma referência em saúde, bem-estar e
            condicionamento físico.
        </p>

        <button><a asp-action="SobreNos" asp-controller="Home">SAIBA MAIS</a></button>
    </div>
</div>



<div class="nossaLoja">
    <div class="nossaLojaTexto hidden">
        <div class="lojaSimbolo">
            <img src="~/img/simboloLoja.png">
        </div>
        <div class="TextoNossaLoja">
            <h3>Nossa Loja</h3>
            <p>Aproveite os <strong>MELHORES PRODUTOS</strong> com os <strong>MELHORES PREÇOS</strong> e caminhe
                em direção ao <strong>SHAPE</strong> perfeito!</p> <br>
            <p>R. Campos Salles, 98 - Centro, Barra Bonita - SP, 17340-000</p>
        </div>
    </div>

   <div class="containerCarrousel hidden">
                <div class="container swiper">
                    <div class="slide-container">
                      <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/DarknessCreatine.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Darkness Creatine</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/DuxCreapure.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Dux Creapure</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/IntegralmedicaCreatina.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">IntegralMedica Creatina</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/MaxCreatine.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Max Creatine</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/IntegralMedicaVitapure.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">IntegralMedica Vitapure</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/OptimumNutritionTribulusCapsules.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">OptimumNutrition Tribulus Capsules</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/SharkProBCAA.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro BCAA</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/SharkProOmega3.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro Omega3</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/DuxWheyProteinConcentrado.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Dux WheyProtein Concentrado</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/IntegralmedicaWhey.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">IntegralMedica Whey</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/NutrataWheyGrego.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Nutrata WheyGrego</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/SharkProWheyProtein.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro WheyProtein</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/abissal.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro Abissal</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/nightpump.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro NightPump</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/psychotic.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">InsaneLABZ Psychotic</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/txtpump.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro TxtPump</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa1.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa2.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa3.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa4.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/coqueteleirashark.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro Coqueteleira</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/coqueteleiraspeed.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SPEED Coqueteleira</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/coqueteleiraspeedeshark.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SPEED e SharkPro Coqueteleira</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/protetorpalmar.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Protetor Palmar</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
          
        </div>
</div>


<div class="sessaoAcademias">
    <div class="academias">
        <div class="academiasHeader hidden">
            <img src="~/img/iconAcademias.png">
            <p><strong>+7 TON</strong><br> de pesos</p>
            <p><strong>+7 TON</strong><br> de pesos</p>
            <p><strong>+7 TON</strong><br> de pesos</p>
            <div class="buttonsAcademias hidden">
                <button class="btn botao-selecionado" onclick="trocarAcademia('barra')">Barra Bonita</button>
                <button class="btn" onclick="trocarAcademia('igaracu')">Igaraçu do Tietê</button>
            </div>
        </div>
        <div class="academiasMainContent">
            <div class="academiasMain hidden">
                <h3 id="academiaTitulo">Academia Barra Bonita - SP</h3>
                <p id="academiaEndereco">Avenida Industrial - Av. Dr. José Erineu Ortigosa, 1178 - Distrito
                    Industrial I, Barra Bonita - SP, 17340-000.</p>
                <div class="academiasMainButton">
                    <a asp-action="Unidades" asp-controller="Home">Veja mais</a>
                </div>
            </div>
            <div class="academiasImagem hidden">
                <img id="academiaImagem" src="~/img/imagemAcademia1.png">
                <p>Imagem da academia</p>
            </div>
        </div>
        <div class="academiasFooter hidden">
            <img src="~/img/logoBlackSkull.png">
            <img src="~/img/logoNewMillen.png">
            <img src="~/img/logoSharkPro.png">
            <img src="~/img/logoDux.png">
            <img src="~/img/logoMaxTitanium.png">
            <img src="~/img/logoIntegralMedica.png">
            <img src="~/img/logoPowerFit.png">
            <img src="~/img/logoWellhub.png">
        </div>
    </div>
</div>


<div class="sessaoMensalidades"  style="overflow-x: hidden;">
    <div class="titleMensalidade hidden">
        <h1>PREÇOS</h1>
    </div>
    <div class="mensalidade hidden">
        <div class="precos">
            <div class="precoMensalContainer">
                <div class="precoMensal">
                    <h4>R$<br><strong>99,99</strong></h4>
                    <p>Por Mês</p>
                    <p>Plano<br>Mensal</p>
                    <div class="graficoMensal">
                        <img src="~/img/graficoMensal.png">
                    </div>
                </div>
            </div>
            <div class="precoAnualContainer">
                <div class="precoAnual">
                    <h4>R$<br><strong>90,00</strong></h4>
                    <p>Por Ano</p>
                    <p>Plano<br>Anual</p>
                    <div class="graficoAnual">
                        <img src="~/img/graficoAnual.png">
                    </div>
                </div>
            </div>
            <div class="precoSemestralContainer">
                <div class="precoSemestral">
                    <h4>R$<br><strong>95,00</strong></h4>
                    <p>Por Mês</p>
                    <p>Plano<br>Semestral</p>
                    <div class="graficoSemestral">
                        <img src="~/img/graficoSemestral.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sessaoCarroselEspecial">
   <div class="homemain hidden">
         <!--==================== HOME ====================-->
         <section class="home">
            <div class="home__container">
                <div class="home__data">
                    <h3 class="home__subtitle">MODALIDADES</h3>

                    <div thumbsSlider="" class="home__titles swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    MUSCULAÇÃO
                                </h1>
                            </div>
                            
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    MUAY THAI
                                </h1>
                            </div>

                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    JIU JITSU 
                                </h1>
                            </div>

                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    FUNCIONAL 
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    RITMO 
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    SPINNING
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    ZUMBA
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    AEROBOXE
                                </h1>
                            </div>
                        </div>
                    </div>

                    <a asp-action="Modalidades" asp-controller="Home" class="home__button">
                        CONHEÇA TODAS <i class="ri-arrow-right-line"></i>
                    </a>
                </div>

                <div class="home__images">
                    <div class="home__swiper swiper">
                        <div class="swiper-wrapper ">
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-1"></div>
                                    <img src="~/img/Musculacao.png" alt="image" class="home__img-1">
                                </div>
                            </article>

                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-2"></div>
                                    <img src="~/img/MuayThai.png" alt="image" class="home__img-1">
                                </div>
                            </article>

                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/JiuJitsu.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Funcional.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Ritmo.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img  src="~/img/bike.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Zumba.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Boxe.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="home__footer">
                    <div class="home__controls">
                        <!-- pagination -->
                        <div class="swiper-pagination"></div>

                        <div class="home__navigation">
                            <!-- navigation buttons -->
                            <div class="swiper-button-prev">
                                <i class="ri-arrow-left-line"></i>
                            </div>

                            <div class="swiper-button-next">
                                <i class="ri-arrow-right-line"></i>
                            </div>
                        </div>
                    </div>

                    <div class="home__social">
                        <a href="https://www.instagram.com/speedformacademia/" target="_blank" class="home__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>

                        <a href="https://www.facebook.com/speedformacademiaoficial/" target="_blank" class="home__social-link">
                            <i class="ri-facebook-circle-line"></i>
                        </a>


                        <a href="https://linkme.bio/speedformacademia" target="_blank" class="home__social-link">
                            <i class="ri-whatsapp-line"></i>
                        </a>
                    </div>
                </div>
            </div>
         </section>
      </div>    
</div>


<div class="sessaoContato hidden">
    <div class="contatoImagem">
        <img src="~/img/contatoImagem.png">
    </div>
    <div class="contatoTexto">
        <h3>CONTATO</h3>
        <div class="contatoBotao">
            <button><a style="color: white;" asp-action="Contato" asp-controller="Home">Clique aqui!</a></button>
        </div>
    </div>
</div>
</div>

<script>
    function trocarAcademia(academia) {
        const titulo = document.getElementById('academiaTitulo');
        const endereco = document.getElementById('academiaEndereco');
        const imagem = document.getElementById('academiaImagem');

        // Atualizando o conteúdo com base na academia selecionada
        if (academia === 'barra') {
            titulo.innerText = "Academia Barra Bonita - SP";
            endereco.innerText = "Avenida Industrial - Av. Dr. José Erineu Ortigosa, 1178 - Distrito Industrial I, Barra Bonita - SP, 17340-000.";
            imagem.src = "/img/imagemAcademia1.png";
        } else if (academia === 'igaracu') {
            titulo.innerText = "Academia Igaraçu do Tietê - SP";
            endereco.innerText = "R. Sebastiana de Barros, 45 - Centro, Igaraçu do Tietê - SP, 17350-000";
            imagem.src = "/img/imagemAcademia2.png";
        }

        // Alterar o estilo dos botões
        const botoes = document.querySelectorAll('.buttonsAcademias .btn');

        botoes.forEach(function (button) {
            // Removemos a classe 'btn-selecionado' de todos os botões
            button.classList.remove('btn-selecionado');
        });

        // Adiciona a classe 'btn-selecionado' no botão correto
        if (academia === 'barra') {
            botoes[0].classList.add('botao-selecionado');
            botoes[0].classList.add('botao-selecionado');
            botoes[1].classList.remove('botao-selecionado');
        } else if (academia === 'igaracu') {
            botoes[0].classList.remove('botao-selecionado');
            botoes[1].classList.add('botao-selecionado');
        }
    }



</script>