@{
    ViewData["Title"] = "Página inicial";
}

<div class="videoinicio">
    <img src="~/img/VideoInicio.png">
    <div class="container my-5">
        <div class="retangulo"></div>
        <div class="image-container">
            <img src="~/img/imageminicio.png">
            <div class="logocaveira">
                <img src="~/img/logocaveira.png">
            </div>
        </div>
        <div class="my-5">
            <h2 class="text-white title">SOBRE NÓS</h2>
            <div class="d-md-flex">
                <div class="p-4 my-2 w-40">
                    <p class="text-white ">
                        Agora nos tornamos o Centro de Treinamento Speed Form Powerfit, o maior e
                        mais
                        completo da região.

                        Com duas unidades, uma em Barra Bonita e outra em Igaraçu do Tietê.
                        Oferecemos uma nova sala de spinning com 15 bikes e aulas personalizadas ministradas por
                        professores
                        renomados.

                        <br><br><br>ㅤㅤㅤㅤㅤㅤAlém disso, temos novas esteiras para corredores e uma sala de pesos livres,
                        completando mais de
                        7
                        toneladas de pesos em todo CT. Falando do nosso CT nós somos o showroom de todos os equipamentos
                        da
                        Powerfit, incluindo lançamentos exclusivos. E não acaba por aí, teremos aulas de funcional, muay
                        thai,
                        aeroboxe e jiu-jitsu, todas inclusas na mensalidade.

                        Nosso estacionamento tem capacidade para mais de 150 carros e nossa equipe é composta pelos
                        melhores
                        professores e personal trainers.
                        Esperamos vocês de portas abertas para comemorarmos esse sonho realizado.
                        Afinal, na Speed Form você treina de verdade! <br>
                    <div class="d-flex justify-content-end align-items-end p-2">
                        <button class="botao my-5 d-flex text-white align-items-center justify-content-center">SAIBA
                            MAIS</button>
                    </div>
                </div>
                </p>
                <div class="imagem-bikes w-50">
                    <img src="~/img/imagembikes.png">
                </div>


            </div>
        </div>
    </div>


    <div class="frase">
        <img src="~/img/frase1.png">
        <div class="textofrase">
            <p class="text-black">mesmice? Buscando um treino completo e transformador?
                O CT Speed Form em parceria com a Powerfit te convida a superar seus limites sem MIMIMI com muito
                TREINO.

                Invista em sua saúde, bem-estar e qualidade de vida.

                AQUI VOCÊ TREINA DE VERDADE!</p>
        </div>
        <div class="container">
            <div class="loja">
                <img src="~/img/imagemloja.png">
                <div class="quadroloja">
                    <img src="~/img/quadroloja.png">
                </div>
                    <div class="carrinholoja">
                        <img src="~/img/carrinholoja.png">
                    </div>
            </div>
        </div>
    </div>

</div>
