@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sobreNos">
    <div class="sobreNosImagem">
      <img src="~/img/sobrenosQuadro.png" class="hidden">
      <aside class="newsletter hidden">
        <div class="newsletter-header">
          <span><strong>Fique por dentro</strong> de tudo!</span>
          <span><strong>Newsletter</strong></span>
        </div>

        <div class="newsletter-body">
          <p>Receba atualizações de <br> horários, notícias exclusivas</p>
          <form>
            <input type="email" name="emailNewsletter" id="email-newsletter" placeholder="Insira seu email">
            <button type="submit">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.14125 4.15031C2.38615 3.88314 2.80128 3.86509 3.06845 4.11L10.5 10.9223L17.9316 4.11C18.1987 3.86509 18.6139 3.88314 18.8588 4.15031C19.1037 4.41748 19.0856 4.8326 18.8184 5.07751L10.9434 12.2963C10.6925 12.5263 10.3075 12.5263 10.0566 12.2963L2.18156 5.07751C1.91439 4.8326 1.89634 4.41748 2.14125 4.15031Z" fill="#5B5B5B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.96875 4.59375C1.96875 4.23131 2.26256 3.9375 2.625 3.9375H18.375C18.7374 3.9375 19.0312 4.23131 19.0312 4.59375V15.75C19.0312 16.0981 18.893 16.4319 18.6468 16.6781C18.4007 16.9242 18.0668 17.0625 17.7188 17.0625H3.28125C2.93315 17.0625 2.59931 16.9242 2.35317 16.6781C2.10703 16.4319 1.96875 16.0981 1.96875 15.75V4.59375ZM3.28125 5.25V15.75H17.7188V5.25H3.28125Z" fill="#5B5B5B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.54811 10.0564C9.79308 10.3236 9.77513 10.7387 9.50802 10.9837L3.27364 16.7012C3.00653 16.9462 2.5914 16.9283 2.34643 16.6611C2.10146 16.394 2.11941 15.9789 2.38652 15.7339L8.6209 10.0164C8.88801 9.77138 9.30314 9.78933 9.54811 10.0564Z" fill="#5B5B5B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4519 10.0564C11.6969 9.78933 12.112 9.77138 12.3791 10.0164L18.6135 15.7339C18.8806 15.9789 18.8985 16.394 18.6536 16.6611C18.4086 16.9283 17.9935 16.9462 17.7264 16.7012L11.492 10.9837C11.2249 10.7387 11.2069 10.3236 11.4519 10.0564Z" fill="#5B5B5B"/>
              </svg>
            </button>
          </form>
        </div>
      </aside>
    </div>

    <div class="sobreNosTexto hidden">
        <h3>Sobre Nós</h3>
        <p>Bem-vindo à Speed Form Academia, o melhor centro de
            treinamento da região! Aqui, nossa filosofia é simples:
            <strong>TREINAR DE VERDADE PARA ALCANÇAR RESULTADOS REAIS.</strong> Com uma trajetória de
            excelência
            em
            oferecer serviços de qualidade, nos consolidamos como uma referência em saúde, bem-estar e
            condicionamento físico.
        </p>

        <button><a asp-action="SobreNos" asp-controller="Home">SAIBA MAIS</a></button>
    </div>
</div>

<div class="nossaLoja">
    <div class="nossaLojaTexto hidden">
        <div class="lojaSimbolo">
            <img src="~/img/simboloLoja.png">
        </div>
        <div class="TextoNossaLoja">
            <h3>Nossa Loja</h3>
            <p>Aproveite os <strong>MELHORES PRODUTOS</strong> com os <strong>MELHORES PREÇOS</strong> e caminhe
                em direção ao <strong>SHAPE</strong> perfeito!</p> <br>
            <p>R. Campos Salles, 98 - Centro, Barra Bonita - SP, 17340-000.</p>
        </div>
    </div>

   <div class="containerCarrousel hidden">
                <div class="container swiper">
                    <div class="slide-container">
                      <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/DarknessCreatine.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Darkness Creatine</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/DuxCreapure.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Dux Creapure</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/IntegralmedicaCreatina.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">IntegralMedica Creatina</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Creatina/MaxCreatine.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Creatina/Profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Max Creatine</h3>
                              <h4 class="job">Creatina</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/IntegralMedicaVitapure.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">IntegralMedica Vitapure</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/OptimumNutritionTribulusCapsules.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">OptimumNutrition Tribulus Capsules</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/SharkProBCAA.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro BCAA</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Suplemento/SharkProOmega3.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Suplemento/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro Omega3</h3>
                              <h4 class="job">Suplemento</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/DuxWheyProteinConcentrado.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Dux WheyProtein Concentrado</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/IntegralmedicaWhey.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">IntegralMedica Whey</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/NutrataWheyGrego.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Nutrata WheyGrego</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Whey/SharkProWheyProtein.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Whey/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro WheyProtein</h3>
                              <h4 class="job">Whey</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/abissal.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro Abissal</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/nightpump.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro NightPump</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/psychotic.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">InsaneLABZ Psychotic</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/PreTreino/txtpump.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/PreTreino/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro TxtPump</h3>
                              <h4 class="job">Pré Treino</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa1.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa2.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa3.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Roupas/camisa4.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Roupas/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Camisa</h3>
                              <h4 class="job">Roupas</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/coqueteleirashark.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SharkPro Coqueteleira</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/coqueteleiraspeed.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SPEED Coqueteleira</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/coqueteleiraspeedeshark.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">SPEED e SharkPro Coqueteleira</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                        <div class="card swiper-slide">
                          <div class="image-box">
                            <img src="~/img/loja/Acessorios/protetorpalmar.png" alt="" />
                          </div>
                          <div class="profile-details">
                            <img src="~/img/loja/Acessorios/profile.png" alt="" />
                            <div class="name-job">
                              <h3 style="color: white;" class="name">Protetor Palmar</h3>
                              <h4 class="job">Acessórios</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
          
        </div>
</div>


<div class="sessaoAcademias">
    <div class="academias">
        <div class="academiasHeader hidden">
            <img src="~/img/iconAcademias.png">
            <p><strong>+7 TON</strong><br> de pesos</p>
            <p><strong>+7 TON</strong><br> de pesos</p>
            <p><strong>+7 TON</strong><br> de pesos</p>
            <div class="buttonsAcademias hidden">
                <button class="btn botao-selecionado" onclick="trocarAcademia('barra')">Barra Bonita</button>
                <button class="btn" onclick="trocarAcademia('igaracu')">Igaraçu do Tietê</button>
            </div>
        </div>
        <div class="academiasMainContent">
            <div class="academiasMain hidden">
                <h3 id="academiaTitulo">Academia Barra Bonita - SP</h3>
                <p id="academiaEndereco">Avenida Industrial - Av. Dr. José Erineu Ortigosa, 1178 - Distrito
                    Industrial I, Barra Bonita - SP, 17340-000.</p>
                <div class="academiasMainButton">
                    <a asp-action="Unidades" asp-controller="Home">Veja mais</a>
                </div>
            </div>
            <div class="academiasImagem hidden">
                <img id="academiaImagem" src="~/img/imagemAcademia1.png">
                <p>Imagem da academia</p>
            </div>
        </div>
        <div class="academiasFooter hidden">
            <img src="~/img/logoBlackSkull.png">
            <img src="~/img/logoNewMillen.png">
            <img src="~/img/logoSharkPro.png">
            <img src="~/img/logoDux.png">
            <img src="~/img/logoMaxTitanium.png">
            <img src="~/img/logoIntegralMedica.png">
            <img src="~/img/logoPowerFit.png">
            <img src="~/img/logoWellhub.png">
        </div>
    </div>
</div>


<div class="sessaoMensalidades"  style="overflow-x: hidden;">
    <div class="titleMensalidade hidden">
        <h1>PREÇOS</h1>
    </div>
    <div class="mensalidade hidden">
        <div class="precos">
            <div class="precoMensalContainer">
                <div class="precoMensal">
                    <h4>R$<br><strong>99,99</strong></h4>
                    <p>Por Mês</p>
                    <p>Plano<br>Mensal</p>
                    <div class="graficoMensal">
                        <img src="~/img/graficoMensal.png">
                    </div>
                </div>
            </div>
            <div class="precoAnualContainer">
                <div class="precoAnual">
                    <h4>R$<br><strong>90,00</strong></h4>
                    <p>Por Ano</p>
                    <p>Plano<br>Anual</p>
                    <div class="graficoAnual">
                        <img src="~/img/graficoAnual.png">
                    </div>
                </div>
            </div>
            <div class="precoSemestralContainer">
                <div class="precoSemestral">
                    <h4>R$<br><strong>95,00</strong></h4>
                    <p>Por Mês</p>
                    <p>Plano<br>Semestral</p>
                    <div class="graficoSemestral">
                        <img src="~/img/graficoSemestral.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sessaoCarroselEspecial">
   <div class="homemain hidden">
         <!--==================== HOME ====================-->
         <section class="home">
            <div class="home__container">
                <div class="home__data">
                    <h3 class="home__subtitle">MODALIDADES</h3>

                    <div thumbsSlider="" class="home__titles swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    MUSCULAÇÃO
                                </h1>
                            </div>
                            
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    MUAY THAI
                                </h1>
                            </div>

                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    JIU JITSU 
                                </h1>
                            </div>

                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    FUNCIONAL 
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    RITMO 
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    SPINNING
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    ZUMBA
                                </h1>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="home__title">
                                    AEROBOXE
                                </h1>
                            </div>
                        </div>
                    </div>

                    <a asp-action="Modalidades" asp-controller="Home" class="home__button">
                        CONHEÇA TODAS <i class="ri-arrow-right-line"></i>
                    </a>
                </div>

                <div class="home__images">
                    <div class="home__swiper swiper">
                        <div class="swiper-wrapper ">
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-1"></div>
                                    <img src="~/img/Musculacao.png" alt="image" class="home__img-1">
                                </div>
                            </article>

                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-2"></div>
                                    <img src="~/img/MuayThai.png" alt="image" class="home__img-1">
                                </div>
                            </article>

                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/JiuJitsu.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Funcional.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Ritmo.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img  src="~/img/bike.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Zumba.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                            <article class="home__article swiper-slide">
                                <div class="home__card">
                                    <div class="home__circle home__circle-3"></div>
                                    <img src="~/img/Boxe.png" alt="image" class="home__img-1">
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="home__footer">
                    <div class="home__controls">
                        <!-- pagination -->
                        <div class="swiper-pagination"></div>

                        <div class="home__navigation">
                            <!-- navigation buttons -->
                            <div class="swiper-button-prev">
                                <i class="ri-arrow-left-line"></i>
                            </div>

                            <div class="swiper-button-next">
                                <i class="ri-arrow-right-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>
    </div>    
</div>


<div class="sessaoContato hidden">
    <div class="contatoImagem">
        <img src="~/img/contatoImagem.png">
    </div>
    <div class="contatoTexto">
        <h3>CONTATO</h3>
        <div class="contatoBotao">
            <button><a style="color: white;" asp-action="Contato" asp-controller="Home">Clique aqui!</a></button>
        </div>
    </div>
</div>
</div>

<script>
    function trocarAcademia(academia) {
        const titulo = document.getElementById('academiaTitulo');
        const endereco = document.getElementById('academiaEndereco');
        const imagem = document.getElementById('academiaImagem');

        // Atualizando o conteúdo com base na academia selecionada
        if (academia === 'barra') {
            titulo.innerText = "Academia Barra Bonita - SP";
            endereco.innerText = "Avenida Industrial - Av. Dr. José Erineu Ortigosa, 1178 - Distrito Industrial I, Barra Bonita - SP, 17340-000.";
            imagem.src = "/img/imagemAcademia1.png";
        } else if (academia === 'igaracu') {
            titulo.innerText = "Academia Igaraçu do Tietê - SP";
            endereco.innerText = "R. Sebastiana de Barros, 45 - Centro, Igaraçu do Tietê - SP, 17350-000";
            imagem.src = "/img/imagemacademia2.png";
        }

        // Alterar o estilo dos botões
        const botoes = document.querySelectorAll('.buttonsAcademias .btn');

        botoes.forEach(function (button) {
            // Removemos a classe 'btn-selecionado' de todos os botões
            button.classList.remove('btn-selecionado');
        });

        // Adiciona a classe 'btn-selecionado' no botão correto
        if (academia === 'barra') {
            botoes[0].classList.add('botao-selecionado');
            botoes[0].classList.add('botao-selecionado');
            botoes[1].classList.remove('botao-selecionado');
        } else if (academia === 'igaracu') {
            botoes[0].classList.remove('botao-selecionado');
            botoes[1].classList.add('botao-selecionado');
        }
    }



</script>