@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sobreNos">
    <img src="~/img/sobrenosQuadro.png" class="hidden">
    <div class="sobreNosTexto hidden">
        <h3>Sobre Nós</h3>
        <p>Bem-vindo à Speed Form Academia, o melhor centro de
            treinamento da região! Aqui, nossa filosofia é simples:
            <strong>TREINAR DE VERDADE PARA ALCANÇAR RESULTADOS REAIS.</strong> Com uma trajetória de
            excelência
            em
            oferecer serviços de qualidade, nos consolidamos como uma referência em saúde, bem-estar e
            condicionamento físico.
        </p>

        <button><a asp-action="SobreNos" asp-controller="Home">SAIBA MAIS</a></button>
    </div>
</div>



<div class="nossaLoja">
    <div class="nossaLojaTexto hidden">
        <div class="lojaSimbolo">
            <img src="~/img/simboloLoja.png">
        </div>
        <div class="TextoNossaLoja">
            <h3>Nossa Loja</h3>
            <p>Aproveite os <strong>MELHORES PRODUTOS</strong> com os <strong>MELHORES PREÇOS</strong> e caminhe
                em direção ao <strong>SHAPE</strong> perfeito!</p> <br>
            <p>R. Campos Salles, 98 - Centro, Barra Bonita - SP, 17340-000</p>
        </div>
    </div>

    <div class="lojaCarrosel hidden">
        <div class="containerCarrousel">
            <div class="card">
                <img class="background" src="~/img/itemLoja.png">
                <div class="card-content">
                    <div class="profile-image">
                        <img src="~/img/iconeLoja.png">
                    </div>
                    <h3 class="title">WHEY</h3>
                </div>
                <div class="backdrop"></div>
            </div>
            <div class="card">
                <img class="background" src="~/img/itemLoja.png">
                <div class="card-content">
                    <div class="profile-image">
                        <img src="~/img/iconeLoja.png">
                    </div>
                    <h3 class="title">WHEY</h3>
                </div>
                <div class="backdrop"></div>
            </div>
            <div class="card">
                <img class="background" src="~/img/itemLoja.png">
                <div class="card-content">
                    <div class="profile-image">
                        <img src="~/img/iconeLoja.png">
                    </div>
                    <h3 class="title">WHEY</h3>
                </div>
                <div class="backdrop"></div>
            </div>
            <div class="card">
                <img class="background" src="~/img/itemLoja.png">
                <div class="card-content">
                    <div class="profile-image">
                        <img src="~/img/iconeLoja.png">
                    </div>
                    <h3 class="title">WHEY</h3>
                </div>
                <div class="backdrop"></div>
            </div>
            <div class="card">
                <img class="background" src="~/img/itemLoja.png">
                <div class="card-content">
                    <div class="profile-image">
                        <img src="~/img/iconeLoja.png">
                    </div>
                    <h3 class="title">WHEY</h3>
                </div>
                <div class="backdrop"></div>
            </div>
            <div class="card">
                <img class="background" src="~/img/itemLoja.png">
                <div class="card-content">
                    <div class="profile-image">
                        <img src="~/img/iconeLoja.png">
                    </div>
                    <h3 class="title">WHEY</h3>
                </div>
                <div class="backdrop"></div>
            </div>
        </div>
    </div>
</div>


<div class="sessaoAcademias">
    <div class="academias hidden">
        <div class="academiasHeader">
            <img src="~/img/iconAcademias.png">
            <p><strong>+7 TON</strong><br> de pesos</p>
            <p><strong>+7 TON</strong><br> de pesos</p>
            <p><strong>+7 TON</strong><br> de pesos</p>
            <div class="buttonsAcademias">
                <button class="btn botao-selecionado" onclick="trocarAcademia('barra')">Barra Bonita</button>
                <button class="btn" onclick="trocarAcademia('igaracu')">Igaraçu do Tietê</button>
            </div>
        </div>
        <div class="academiasMainContent">
            <div class="academiasMain">
                <h3 id="academiaTitulo">Academia Barra Bonita - SP</h3>
                <p id="academiaEndereco">Avenida Industrial - Av. Dr. José Erineu Ortigosa, 1178 - Distrito
                    Industrial I, Barra Bonita - SP, 17340-000.</p>
                <div class="academiasMainButton">
                    <a asp-action="Unidades" asp-controller="Home">Veja mais</a>
                </div>
            </div>
            <div class="academiasImagem">
                <img id="academiaImagem" src="~/img/imagemAcademia1.png">
                <p>Imagem da academia</p>
            </div>
        </div>
        <div class="academiasFooter">
            <img src="~/img/logoBlackSkull.png">
            <img src="~/img/logoNewMillen.png">
            <img src="~/img/logoSharkPro.png">
            <img src="~/img/logoDux.png">
            <img src="~/img/logoMaxTitanium.png">
            <img src="~/img/logoIntegralMedica.png">
            <img src="~/img/logoPowerFit.png">
            <img src="~/img/logoWellhub.png">
        </div>
    </div>
</div>


<div class="sessaoMensalidades">
    <div class="titleMensalidade hidden">
        <h1>PREÇOS</h1>
    </div>
    <div class="mensalidade hidden">
        <div class="precos">
            <div class="precoMensalContainer">
                <div class="precoMensal">
                    <h4>R$<br><strong>99,99</strong></h4>
                    <p>Por Mês</p>
                    <p>Plano<br>Mensal</p>
                    <div class="graficoMensal">
                        <img src="~/img/graficoMensal.png">
                    </div>
                </div>
            </div>
            <div class="precoAnualContainer">
                <div class="precoAnual">
                    <h4>R$<br><strong>90,00</strong></h4>
                    <p>Por Ano</p>
                    <p>Plano<br>Anual</p>
                    <div class="graficoAnual">
                        <img src="~/img/graficoAnual.png">
                    </div>
                </div>
            </div>
            <div class="precoSemestralContainer">
                <div class="precoSemestral">
                    <h4>R$<br><strong>95,00</strong></h4>
                    <p>Por Mês</p>
                    <p>Plano<br>Semestral</p>
                    <div class="graficoSemestral">
                        <img src="~/img/graficoSemestral.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sessaoContato hidden">
    <div class="contatoImagem">
        <img src="~/img/contatoImagem.png">
    </div>
    <div class="contatoTexto">
        <h3>CONTATO</h3>
        <div class="contatoBotao">
            <button><a style="color: white;" asp-action="Contato" asp-controller="Home">Clique aqui!</a></button>
        </div>
    </div>
</div>
</div>


<script>
    function trocarAcademia(academia) {
        const titulo = document.getElementById('academiaTitulo');
        const endereco = document.getElementById('academiaEndereco');
        const imagem = document.getElementById('academiaImagem');

        // Atualizando o conteúdo com base na academia selecionada
        if (academia === 'barra') {
            titulo.innerText = "Academia Barra Bonita - SP";
            endereco.innerText = "Avenida Industrial - Av. Dr. José Erineu Ortigosa, 1178 - Distrito Industrial I, Barra Bonita - SP, 17340-000.";
            imagem.src = "/img/imagemAcademia1.png";
        } else if (academia === 'igaracu') {
            titulo.innerText = "Academia Igaraçu do Tietê - SP";
            endereco.innerText = "R. Sebastiana de Barros, 45 - Centro, Igaraçu do Tietê - SP, 17350-000";
            imagem.src = "/img/imagemAcademia2.png";
        }

        // Alterar o estilo dos botões
        const botoes = document.querySelectorAll('.buttonsAcademias .btn');

        botoes.forEach(function (button) {
            // Removemos a classe 'btn-selecionado' de todos os botões
            button.classList.remove('btn-selecionado');
        });

        // Adiciona a classe 'btn-selecionado' no botão correto
        if (academia === 'barra') {
            botoes[0].classList.add('botao-selecionado');
            botoes[0].classList.add('botao-selecionado');
            botoes[1].classList.remove('botao-selecionado');
        } else if (academia === 'igaracu') {
            botoes[0].classList.remove('botao-selecionado');
            botoes[1].classList.add('botao-selecionado');
        }
    }



</script>