@{
    ViewData["Title"] = "Página inicial";
}

<div class="videoinicio">
    <img src="~/img/VideoInicio.png">
    <div class="container my-5">
        <div class="image-container">
            <img src="~/img/imageminicio.png">
            <div class="logocaveira">
                <img src="~/img/logocaveira.png">
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <p class="text-white">Agora nos tornamos o Centro de Treinamento Speed Form Powerfit, o maior e mais
                completo da região.

                Com duas unidades, uma em Barra Bonita e outra em Igaraçu do Tietê.
                Oferecemos uma nova sala de spinning com 15 bikes e aulas personalizadas ministradas por professores
                renomados.

                Além disso, temos novas esteiras para corredores e uma sala de pesos livres, completando mais de 7
                toneladas de pesos em todo CT. Falando do nosso CT nós somos o showroom de todos os equipamentos da
                Powerfit, incluindo lançamentos exclusivos. E não acaba por aí, teremos aulas de funcional, muay thai,
                aeroboxe e jiu-jitsu, todas inclusas na mensalidade.

                Nosso estacionamento tem capacidade para mais de 150 carros e nossa equipe é composta pelos melhores
                professores e personal trainers.
                Esperamos vocês de portas abertas para comemorarmos esse sonho realizado.
                Afinal, na Speed Form você treina de verdade!
            </p>
            <div class="imagem-bikes">
                <img src="~/img/imagembikes.png">
            </div>
        </div>
    </div>
</div>
