@model List<SpeedFormAcademias.Models.Modalidade> 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sessaoModalidades">
    <div class="titleModalidades hidden">
        <h1>MODALIDADES</h1>
        <div class="modalidades hidden">
            <div class="modalidadesFotos">
                @foreach (var modalidade in Model) 
                {
                   <a href="@Url.Action("DetailsModalidades", "Home", new { id = modalidade.Id })">
                        <img src="~/@modalidade.Imagem" alt="@modalidade.Nome" />
                    </a>
                }
            </div>
        </div>
    </div>
</div>