@{
    ViewData["Title"] = "Início";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Área Administrativa</h1>
        <p class="lead">Seja bem vindo, Admin! Utilize o menu lateral ou botões abaixo ter
            acesso aos diferentes cadastros de sua Loja</p>
        <hr class="my-4">
        <a class="btn btn-danger btn-lg" asp-action="Index" asp-controller="Unidades" role="button">Unidades</a>
        <a class="btn btn-secondary btn-lg" asp-action="Index" asp-controller="Modalidades" role="button">Modalidades</a>
    </div>
</div>

<style>
  .bg-gradient-warning {
    background: #F1C445 !important;  
  }
  .shadow-warning {
    box-shadow: none !important; 
  }
  .btn {
    box-shadow: none !important;
  }
  .container a {
    background: #F1C445 !important;  
  }
}
</style>

@section Scripts {
  <partial name="_Charts" >
}