.imagemInicio {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.imagemInicio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: fixed;
  transition: top 0.3s;
  background: linear-gradient(#07080c9d, #07080c00);
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 50px;
}

.navbar .navbarGrupo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbarGrupo img {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 15px black);
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.buttonHeader {
  width: 197px;
  height: 40px;
  background-color: black;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.menuSelecionar {
  width: 70px;
  height: 37px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHeader a i {
  font-size: 16px;
  margin-left: 20px;
  text-align: center;
}

.navbar i:hover {
  color: #F1C445;
}

.navbar a:hover {
  color: #F1C445;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  z-index: 1001;
}

.submenu li {
  padding: 5px;
  list-style: none;
}

.submenu li a {
  color: white;
}

.submenu li a:hover {
  color: #F1C445;
}

.dropdown {
  position: relative;
}

.dropdown .submenu .submenu {
  top: 0;
  left: 100%;
  margin-left: 0; 
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Setas alinhadas */
.fa-caret-down,
.fa-caret-right {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.fa-caret-right {
  transform: rotate(0deg);
}

.fa-caret-down {
  transform: rotate(0deg);
}

.dropdown.active > a {
  border-bottom: 2px solid #F1C445; 
}

.dropdown.active > a .fa-caret-down {
  transform: rotate(180deg);
}

